@import "../public/message_header.styl"
@import "../public/footer.styl"
body
  background #efefef
  color #727272
  font-size 12px
.header_box
  .active
    background #EA5404
    color #fff
.footer
  #messages
    background url("../../img/footer/bottom_press_icon02@2x.png") no-repeat bottom 20px center
    background-size 30%
    color #EA5404