@import "../public/header.styl"
@import "../public/photo_info.styl"
body
  background #efeff4
  color #646464
 /* font-family "Microsoft Yahei"*/
.personInfo_header
  margin-bottom 0


 .info_box
   padding 20px 15px
   background-color #fff
   font-size 14px
   margin-bottom 10px

   .info_img
     width 68px
     height 68px
     margin 0 auto
     background url("../../img/header/logo_icon_03.png") no-repeat center
     background-size 100%
   .info_name
     text-align center
     line-height 24px
     font-size 20px
     font-weight 600
     margin-bottom 5px

   .info_desc
     text-align center
     line-height 18px
     margin-bottom 5px

   .info_edit
     width 6em
     margin 0 auto
     padding 8px 14px
     border 1px solid #ffa66b
     border-radius 5px
     color #ffa66b
     line-height 20px

 .info-cell
  display flex
  padding 0 auto
  line-height 40px
  background #fff

  .info-name
    flex 3
    font-size .875em
    margin-left 15px
    border-bottom 1px solid #efeff4
  .info-content
    flex 4
    text-indent 10px
    border-bottom 1px solid #efeff4
  .image-cell
    dispaly flex
    .imge-block
      flex 1
