.header
  height 50px
  border-bottom 1px solid #d6d7dc
  background #fff
  margin-bottom 10px
  text-align center
  line-height 50px
  font-size 20px
  position relative
  &:before
    content ''
    position absolute
    left 15px
    top 15px
    display block
    width 16px
    height 30px
    background url("../../img/header/nav_back_icon@2x.png") no-repeat center
    background-size 100%
