<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>公司</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=yes">
	<!--<link rel="stylesheet" href="./public/css/css.css">-->
	<link rel="stylesheet" href="./public/css/loading.css">
</head>
<body>

	<div class="logo">
	</div>
	<div class="footer">Copyright&copy;2016</div>
	<script>
		window.onload=function(){
			location.href = './login/login.html'
		}
	</script>
</body>
</html>