<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>汩汩来 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司"/>
	<meta name="description" content="南京锋耀达网络科技有限公司是一家互联网制作及设计的现代设计公司
    锋耀达网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=yes">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css">
	<link rel="stylesheet" href="../../public/css/index/index.css">
</head>
<body>
	<header class="header">
		<i class="icon-back">上海</i>
		<span class="header_little">汩汩来</span>
		<div class="search_title_box">
			<div class="title_input"><i class="icon-title-search"></i>挑好房，上汩汩来</div>
		</div>
	</header>
	<div class="search_box">
		<div class="search_input"><i class="icon-search"></i>挑好房，上汩汩来</div>
	</div>
	<div class="slider_box">
		<div class="slider_container">
			<div class="slider_block"></div>
			<div class="slider_block"></div>
			<div class="slider_block"></div>
			<div class="slider_block"></div>
			<div class="slider_block"></div>
		</div>
		<div class="point_box">
			<span class="point_block active"></span><span class="point_block"></span><span class="point_block"></span><span class="point_block"></span><span class="point_block"></span>
		</div>
	</div>
	<div class="query_box">
		<div class="query_block"><span class="text">区域</span></div>
		<div class="query_block"><span class="text">面积</span></div>
		<div class="query_block"><span class="text">单价</span></div>
		<div class="query_block"><span class="text">更多</span></div>
		<div class="query_price"><i class="icon"></i></div>
	</div>
	<div class="wall">
	<div class="down-box">
		<ul class="down_cell">
				<li class="area">全部</li>
				<li class="area">闵行</li>
				<li class="area">浦东</li>
				<li class="area">嘉定</li>
				<li class="area">宝山</li>
				<li class="area">闸北</li>
				<li class="area">松江</li>
				<li class="area">青浦</li>
				<li class="area">徐汇</li>
				<li class="area">普陀</li>
		</ul>
		<ul class="down_cell list_area">
			<li class="area_cell_area">
				<ul class="area_list">
					<li class="title">全部</li>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
				</ul>
			</li>

			<li class="area_cell_area">
				<ul class="area_list">
					<li class="title">全部</li>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
				</ul>
			</li>
			<li class="area_cell_area">
				<ul class="area_list">
					<li class="title">全部</li>
					<li>八佰伴</li>
					<li>川沙</li>
					<li>花木</li>
					<li>金桥</li>
				</ul>
			</li>
			<li class="area_cell_area">
				<ul class="area_list">
					<li class="title">全部</li>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
				</ul>
			</li>
			<li class="area_cell_area">
				<ul class="area_list">
					<li class="title">全部</li>
					<li>八佰伴</li>
					<li>川沙</li>
					<li>花木</li>
					<li>金桥</li>
				</ul>
			</li>
			<li class="area_cell_area">
				<ul class="area_list">
					<li class="title">全部</li>
					<li>八佰伴</li>
					<li>川沙</li>
					<li>花木</li>
					<li>金桥</li>
				</ul>
			</li>
			<li class="area_cell_area">
				<ul class="area_list">
					<li class="title">全部</li>
					<li>八佰伴</li>
					<li>川沙</li>
					<li>花木</li>
					<li>金桥</li>
				</ul>
			</li>
			<li class="area_cell_area">
				<ul class="area_list">
					<li class="title">全部</li>
					<li>八佰伴</li>
					<li>川沙</li>
					<li>花木</li>
					<li>金桥</li>
				</ul>
			</li>
			<li class="area_cell_area">
				<ul class="area_list">
					<li class="title">全部</li>
					<li>八佰伴</li>
					<li>川沙</li>
					<li>花木</li>
					<li>金桥</li>
				</ul>
			</li>
			<li class="area_cell_area">
				<ul class="area_list">
					<li class="title">全部</li>
					<li>八佰伴</li>
					<li>川沙</li>
					<li>花木</li>
					<li>金桥</li>
				</ul>
			</li>
			<li class="area_cell_area">
				<ul class="area_list">
					<li class="title">全部</li>
					<li>八佰伴</li>
					<li>川沙</li>
					<li>花木</li>
					<li>金桥</li>
				</ul>
			</li>

		</ul>
	</div>
		<div class="down-box">
			<ul class="down_cell price">
				<li class="area">全部</li>
				<li class="area">100㎡以下</li>
				<li class="area">100-200㎡</li>
				<li class="area">200-300㎡</li>
				<li class="area">300-500㎡</li>
				<li class="area">500-1000㎡</li>
				<li class="area">1000㎡以上</li>
				<li class="price_box" ><div></div><input type="text"><span class="price_line"></span>
					<input type="text"><button class="btn01">确认</button></li>
			</ul>
		</div>
	<div class="down-box">
		<ul class="down_cell price">
			<li class="area">全部</li>
			<li class="area">3元/㎡/天以下</li>
			<li class="area">3-4元/㎡/天</li>
			<li class="area">4-5元/㎡/天</li>
			<li class="area">5-7元/㎡/天</li>
			<li class="area">7-9元/㎡/天</li>
			<li class="area">9-12元/㎡/天</li>
			<li class="area">12元/㎡/天以上</li>
			<li class="price_box" ><div></div><input type="text"><span class="price_line"></span>
				<input type="text"><button class="btn01">确认</button></li>
		</ul>
	</div>
	<div class="down-box">
		<ul class="down_cell">
			<li class="area">地铁</li>
			<li class="area">房型</li>
			<li class="area">装修</li>
		</ul>
		<ul class="down_cell list_area">
			<li class="area_cell_area">
				<ul class="area_list">
					<li class="title">全部</li>
					<li>地铁1号线</li>
					<li>地铁2号线</li>
					<li>地铁3号线</li>
					<li>地铁4号线</li>
				</ul>
			</li>
			<li class="area_cell_area">
				<ul class="area_list">
					<li class="title">全部</li>
					<li>众创空间</li>
					<li>商务中心</li>
					<li>创意产业园</li>
					<li>写字楼</li>
					<li>T位</li>
					<li>整栋</li>
					<li>整层</li>
				</ul>
			</li>
			<li class="area_cell_area">
				<ul class="area_list">
					<li class="title">全部</li>
					<li>毛坯</li>
					<li>简装</li>
					<li>精装</li>
					<li>金桥</li>
				</ul>
			</li>
		</ul>
	</div>
		</div>
	<article style="position:relative">
		<div class="mask"></div>
		<section class="block_box">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box"><span>商务中心</span></div>
				<div class="info-price"><span><em>&yen;7</em>元/平米/天起</span><a>佣金：1个月</a></div>
			</div>
		</section>
		<section class="block_box">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box"><span>商务中心</span></div>
				<div class="info-price"><span><em>&yen;7</em>元/平米/天起</span><a>佣金：1个月</a></div>
			</div>
		</section>
		<section class="block_box">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box"><span>商务中心</span></div>
				<div class="info-price"><span><em>&yen;7</em>元/平米/天起</span><a>佣金：1个月</a></div>
			</div>
		</section>
		<section class="block_box">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box"><span>商务中心</span></div>
				<div class="info-price"><span><em>&yen;7</em>元/平米/天起</span><a>佣金：1个月</a></div>
			</div>
		</section>
		<section class="block_box">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box"><span>商务中心</span></div>
				<div class="info-price"><span><em>&yen;7</em>元/平米/天起</span><a>佣金：1个月</a></div>
			</div>
		</section>
		<section class="block_box">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box"><span>商务中心</span></div>
				<div class="info-price"><span><em>&yen;7</em>元/平米/天起</span><a>佣金：1个月</a></div>
			</div>
		</section>
	</article>
	<footer>
		<ul class="footer">
			<li class="footer_cell " id="first">首页
				<div class="footer_cell_warning" id="warning">3</div>
			</li>
			<li class="footer_cell " id="ordered">预约
				<div class="footer_cell_warning">3</div>
			</li>
			<li class="footer_cell " id="add">
				<div class="footer_cell_warning">3</div>
			</li>
			<li class="footer_cell " id="messages">信息
				<div class="footer_cell_warning">3</div>
			</li>
			<li class="footer_cell "  id="me">我
				<div class="footer_cell_warning">3</div>
			</li>
		</ul>
	</footer>

	<script src="../../public/minjs/index/zepto.min.js"></script>
	<script src="../../public/js/libs/zepto/touch.js"></script>
	<script src="../../public/js/index/index.js"></script>
	<script src="../../public/js/index/index_footer.js"></script>
</body>
</html>