<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>我的页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=yes">
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css">
		<link rel="stylesheet" href="../../public/css/info/info.css">
	</head>
	<body>
		<div class="header">我</div>
		<div class="login_box">
			<div class="login_img"></div>
			<div class="login_con">点击登陆/注册</div>
		</div>
		<div class="s_box">
			<div class="s_left"><span class="s_number">0</span><span>收藏</span></div>
			<div class="s_right"><span class="s_number">0</span><span>积分</span></div>
		</div>
		<div class="link_cell needs">我发布的需求</div>
		<div class="link_cell release">我发布的房源</div>
		<div class="link_cell reservation">我预约的房源</div>
		<div class="link_cell history">历史交易</div>
		<div class="link_cell expired">过期房源</div>
		<ul class="footer">
			<li class="footer_cell first">首页</li>
			<li class="footer_cell ordered">预约</li>
			<li class="footer_cell add"></li>
			<li class="footer_cell message">信息</li>
			<li class="footer_cell me">我</li>
		</ul>
	</body>
</html>