<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>汩汩来 - 南京峰耀网络科技有限公司</title>
	<meta name="keywords" content="南京峰耀网络科技有限公司"/>
	<meta name="description" content="南京峰耀网络科技有限公司是一家互联网制作及设计的现代设计公司
    峰耀网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，峰耀网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=yes">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css">
	<link rel="stylesheet" href="../../public/css/info/notice.css">
</head>
<body>
	<header class="message_header">
		<ul class="header_box">
			<li class="header_cell" id="message" >消息</li>
			<li class="header_cell active" id="notice" >通知</li>
			<li class="header_cell" id="needs" >需求</li>
		</ul>
	</header>
	<div class="tab_cell">
		<div class="tab_title"><span>房源维护提示</span><a>08/04/13:06</a></div>
		<div class="tab_section"><p>您在本平台上传一处房源信息，现在有效期马上就要到了，
			请到“我发布的房源”中更新动态，5天后该房源将自动下架。</p> <a>地址：徐汇-龙华&nbsp;科技大厦</a></div>
	</div>
	<div class="tab_cell">
		<div class="tab_title"><span>房源维护提示</span><a>08/04/13:06</a></div>
		<div class="tab_section"><p>您在本平台上传一处房源信息，现在有效期马上就要到了，
			请到“我发布的房源”中更新动态，5天后该房源将自动下架。</p> <a>地址：徐汇-龙华&nbsp;科技大厦</a></div>
	</div>
		<ul class="footer">
			<li class="footer_cell " id="first">首页
				<div class="footer_cell_warning" id="warning">3</div>
			</li>
			<li class="footer_cell " id="ordered">预约
				<div class="footer_cell_warning">3</div>
			</li>
			<li class="footer_cell " id="add">
				<div class="footer_cell_warning">3</div>
			</li>
			<li class="footer_cell " id="messages">信息
				<div class="footer_cell_warning">3</div>
			</li>
			<li class="footer_cell "  id="me">我
				<div class="footer_cell_warning">3</div>
			</li>
		</ul>
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/js/info/notice.js"></script>
	<script src="../../public/js/info/info_footer.js"></script>
</body>
</html>