<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的页面</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=yes">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css">
	<link rel="stylesheet" href="../../public/css/info/personInfo.css">
</head>
<body>
	<div class="header personInfo_header">个人资料</div>
	<div class="info_box">
		<div class="info_img"></div>
		<div class="info_name">普旌地产</div>
		<div class="info_desc">以前喜欢一个人，现在喜欢一个人</div>
		<div class="info_edit">编辑个人资料</div>
	</div>
	<div class="info-cell">
		<span class="info-name">企业邮箱/公司总机</span>
		<span class="info-content">123748748@qq.com</span>
	</div>
	<div class="info-cell">
		<span class="info-name">联系人</span>
		<span class="info-content">张三</span>
	</div>
	<div class="info-cell">
		<span class="info-name">联系方式</span>
		<span class="info-content">123223554222</span>
	</div>
	<div class="info-cell">
		<span class="info-name">微信号码</span>
		<span class="info-content">123223554222</span>
	</div>
	<ul class="photo_box">
		<li class="photo_cell"><div class="photo_cell_box"></div>微信二维码</li>
		<li class="photo_cell"><div class="photo_cell_box"></div>营业执照</li>
		<li class="photo_cell"><div class="photo_cell_box"></div>楼宇产证</li>
	</ul>
</body>
