<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>汩汩来 - 南京锋耀网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀网络科技有限公司"/>
	<meta name="description" content="南京锋耀网络科技有限公司是一家互联网制作及设计的现代设计公司
    锋耀网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，锋耀网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=yes">
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/release/publish.css">
</head>
<body>
	<div class="publish-box">
		<div class="publish-block publish-demand">
			<div class="publish-img"></div>
			<span class="publish-name">发布需求</span>
		</div>
		<div class="publish-block publish-house">
			<div class="publish-img img-house"></div>
			<span class="publish-name">发布房源</span>
		</div>
	</div>
	<div class="publish-close"></div>


	<script src="../../public/minjs/index/zepto.min.js"></script>
	<script src="../../public/js/libs/zepto/touch.js"></script>
	<script>
		$('.publish-demand' ).on('tap', function(){
			location.href = '../release/release_demand.html';
		});
		$('.publish-house' ).on('tap', function(){
			location.href = '../release/release.html';
		});
		$('.publish-close' ).on('tap', function(){
			location.href = '../index/index.html';
		});
	</script>
</body>
</html>