<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>汩汩来 - 南京峰耀网络科技有限公司</title>
	<meta name="keywords" content="南京峰耀网络科技有限公司"/>
	<meta name="description" content="南京峰耀网络科技有限公司是一家互联网制作及设计的现代设计公司
    峰耀网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，峰耀网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=yes">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css">
	<link rel="stylesheet" href="../../public/css/release/release.css">
</head>
	<body>
		<header class="header">
			<i class="icon-back">取消</i>
			<span class="header_little">发布房源</span>
		</header>
		<div class="search-box">
			<div class="search-block">
				<i class="search-icon"></i>
				<input type="text" class="search-input" placeholder="搜索你想要发布的大厦">
				<span class="close-icon"></span>
			</div>
			<div class="add-house">
				<em class="add-icon"></em>
				<span class="add-name">新增楼盘</span>
			</div>
		</div>
		<ul class="info build_info">
			<li class="build_title"><div class="point"></div><p>大厦信息</p></li>
			<li class="build_cell"><i class="build_cell_title">商圈：</i><span class="build_content">浦东-八佰伴</span></li>
			<li class="build_cell"><i class="build_cell_title">物业：</i><span class="build_content">上海浦江物业有限公司</span></li>
			<li class="build_cell"><i class="build_cell_title">层数：</i><span class="build_content">23层</span></li>
			<li class="build_cell"><i class="build_cell_title">层高：</i><span class="build_content">标准4.5米，净高2.75米，大堂14.5米</span></li>
			<li class="build_cell"><i class="build_cell_title">车位：</i><span class="build_content">地上30个，地下400个，1250元/月</span></li>
			<li class="build_cell"><i class="build_cell_title">电梯：</i><span class="build_content">客梯8部，货梯2部，三菱电梯</span></li>
			<li class="build_cell"><i class="build_cell_title">空调：</i><span class="build_content">集中式中央空调</span></li>
			<li class="build_cell special"><i class="build_cell_title">入驻企业：</i><span class="build_content">顺诚商业地产(房地产/建筑)、大大集团</span></li>
			<li class="build_cell"><i class="build_cell_title">地铁：</i><span class="build_content">距离世纪大道站步行7分钟</span></li>
		</ul>
		<ul class="info house_info">
			<li class="build_title"><div class="point point_blue"></div> <p>房源信息</p></li>
			<li class="build_title"><p>请选择发布房源的属性</p></li>
			<li class="build_title">
				<div class="house_style"><div class="box_point"><div class="box_point_cell active"></div></div>整层</div>
				<div class="house_style"><div class="box_point"><div class="box_point_cell"></div></div>整栋</div>
				<div class="house_style"><div class="box_point"><div class="box_point_cell"></div></div>众创空间</div>
				<div class="house_style"><div class="box_point"><div class="box_point_cell"></div></div>商务中心</div>
				<div class="house_style"><div class="box_point"><div class="box_point_cell"></div></div>创意产业园</div>
				<div class="house_style"><div class="box_point"><div class="box_point_cell"></div></div>写字楼</div>
				<div class="house_style"><div class="box_point"><div class="box_point_cell"></div></div>工位</div>
			</li>
			<li class="house_cell"><i class="house_cell_title">房源面积</i><input type="text" placeholder="请输入房屋面积">㎡</li>
			<li class="house_cell"><i class="house_cell_title">房源单价</i><input type="text" placeholder="请输入价格">元/㎡/天</li>
			<li class="house_cell select_list">
				<i class="house_cell_title">交付状态</i>
				<div class="select_pay"></div>
					<div class="select_pay_list">
						<div class="select_pay_cell">标准交付</div>
						<div class="select_pay_cell">毛坯交付</div>
						<div class="select_pay_cell">简装</div>
						<div class="select_pay_cell">精装</div>
						<div class="select_pay_cell">豪装</div>
					</div>
			</li>
			<li class="house_cell"><i class="house_cell_title">交付日期</i><input type="text" value="2015-8-21"/><div class="house_style"><span class="box_point"><a class="box_point_cell active"></a></span>是否现场</div></li>
			<li class="house_cell"><i class="house_cell_title">最短租期</i><input type="text" value="3年"></li>
			<li class="house_cell"><i class="house_cell_title">付款方式</i><input type="text" value="押三付一"><div class="house_style"><span class="box_point"><a class="box_point_cell"></a></span>是否含发票</div></li>
			<li class="house_cell"><i class="house_cell_title">是否结佣</i><input type="text" value="一个月"><div class="house_style"><span class="box_point"><a class="box_point_cell"></a></span>是</div></li>
			<li class="house_cell"><i class="house_cell_title">装修免租</i><input type="text" value="一个月"></li>
			<li class="house_cell house_in"><i class="house_cell_title">看房时间</i><input type="text" value="8:00"><div></div><input type="text" value="20:00"></li>
			<li class="house_cell house_in"><i class="house_cell_title">房源简介</i><textarea  class="text_area"></textarea></li>
			<li class="house_picture"><div></div>
					<div class="upload-block">
						<span class="add-icon"></span>
						<span class="name">添加图片</span>
						<input type="file" class="file">
					</div></li>
		</ul>
		<footer class="footer_bar"><div class="release-block"><div class="release-btn">确定发布</div>
			</div>
		</footer>
		<div class="mask"></div>
		<div class="cancel_alert">
			<p class="title">你确定要退出此次发布？</p><p class="confirm">
				<span class="cancel">取消</span><span class="sure no_true">确定</span>
			</p>
		</div>
		<div class="release_alert">
			<p class="title">房源发布成功，请稍后！</p><p class="confirm">确定</p>
		</div>

		<script src="../../public/minjs/index/zepto.min.js"></script>
		<script src="../../public/js/libs/zepto/touch.js"></script>
		<script src="../../public/js/release/release.js"></script>
	</body>
</html>